html {
    -webkit-print-color-adjust: exact;
}

table {
    width: 100%;
    border-collapse: collapse;
    page-break-inside: auto;
}

th, td {
    border: 1px solid var(--color-gray-100);
    vertical-align: middle;
    page-break-inside: avoid;

}

thead {
    border-top: 2px solid var(--color-primary);
}

th {
    background: var(--color-gray-50);
    font-weight: 600;
    padding: 10px 8px;
}

td {
    padding: 4px 8px;
}

.table-variant th, td {
    padding: 10px 8px;
}
